<h1>Lab 1</h1>

<h2>Introduction to Jupyter Notebooks</h2>

<h3>First 10 fibonacci numbers</h3>

In [41]:
def firstNFib(n):
    dp = [1 for i in range(n)]
    for i in range(2, n):
        dp[i] = dp[i - 1] + dp[i - 2]
    return dp

firstTenFib = firstNFib(10)
print(firstTenFib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

<h2>Intro to pandas dataframes</h2>

<h3>How to read .csv files and making dataframes from them</h3>

<h4>Top 5 countries ranked by Gold medals won in Winter Olympics</h4>

In [42]:
import pandas as pd
import numpy as np
import re
olympicsdf:pd.DataFrame = pd.read_csv("olympics.csv", skiprows=1, index_col=0)
olympicsdf.rename(columns = {
    '01 !': 'GS',
    "02 !": "SS",
    "03 !": "BS",
    "01 !.1": "GW",
    "02 !.1": "SW",
    "03 !.1": "BW",
    "01 !.2": "GT",
    "02 !.2": "ST",
    "03 !.2": "BT"
}, inplace=True)
olympicsdf.sort_values("GW", ascending=False).iloc[1:6]

,№ Summer,GS,SS,BS,Total,№ Winter,GW,SW,BW,Total.1,№ Games,GT,ST,BT,Combined total
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449

<h4>Where does Japan rank in Gold medals won in Winter Olympics?</h4>

In [43]:
olympicsdf["GW_rank"] = olympicsdf["GW"].rank(ascending=False)
olympicsdf.loc["Japan (JPN)"]["GW_rank"]

19.5

<h4>Top 5 countries ranked by Weighted Total of medals won</h4>

In [44]:
olympicsdf["WeightedTW"] = olympicsdf["GS"] * 3 + olympicsdf["SS"] * 2 + olympicsdf["BS"] + olympicsdf["GW"] * 3 + olympicsdf["SW"] * 2 + olympicsdf["BW"]
olympicsdf.sort_values("WeightedTW", ascending=False).iloc[1:6]

,№ Summer,GS,SS,BS,Total,№ Winter,GW,SW,BW,Total.1,№ Games,GT,ST,BT,Combined total,GW_rank,WeightedTW
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,3.0,5684
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,4.5,2526
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,19.5,1574
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,4.5,1546
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,15.0,1500

<h4>Total number of events in Summer Olympics and in Winter Olympics?</h4>

<h5>Average number of events in Summer Olympics</h5>

In [45]:
totalMedalsSummerOlymp = olympicsdf.loc["Totals"]["Total"]
totalSummerOlympics = olympicsdf.loc["Totals"]["№ Summer"]
totalEventsPerOlymp = totalMedalsSummerOlymp // 3 // totalSummerOlympics 
print(totalEventsPerOlymp)

181.0

<h5>Average number of events in Winter olympics</h5>

In [46]:
olympicsdf.loc["Totals"]["Total.1"] // 3 // olympicsdf.loc["Totals"]["№ Winter"]

43.0

<h4>Dataframe from python dictionary</h4>

In [47]:
numbers={'Evens':[2,4,6,8,10], 'Odds':[1,3,5,7,9]}
df = pd.DataFrame.from_dict(numbers)
df

   Evens  Odds
0      2     1
1      4     3
2      6     5
3      8     7
4     10     9

In [48]:
df2=pd.DataFrame(numbers)
df2

   Evens  Odds
0      2     1
1      4     3
2      6     5
3      8     7
4     10     9

In [56]:
vinyl = {
    "Album Name:": ["The Stone Roses", "Definitely Maybe", "The Queen is Dead"],
    "Band Name": ["The Stone Roses", "Oasis", "The Smiths"],
    "Year": [1989, 1994, 1986]
}
df3 = pd.DataFrame(vinyl)
df3["Year"].mean()

1989.6666666666667